exportPattern("^[[:alpha:]]+")
export("%>%")
export(arrange)
export(clean_names)
export(dbConnect)
export(dbDisconnect)
export(dbGetQuery)
export(filter)
export(group_by)
export(left_join)
export(mutate)
export(pull)
export(read_excel)
export(select)
export(summarise)
importFrom(DBI,dbConnect)
importFrom(DBI,dbDisconnect)
importFrom(DBI,dbGetQuery)
importFrom(admincleanr_crunch,coerce_best_datetime)
importFrom(admincleanr_crunch,coerce_best_datetime_cols)
importFrom(admincleanr_crunch,pairwise_column_overlap)
importFrom(dplyr,arrange)
importFrom(dplyr,filter)
importFrom(dplyr,group_by)
importFrom(dplyr,left_join)
importFrom(dplyr,mutate)
importFrom(dplyr,pull)
importFrom(dplyr,select)
importFrom(dplyr,summarise)
importFrom(janitor,clean_names)
importFrom(magrittr,"%>%")
importFrom(readxl,read_excel)
